@model IEnumerable<programmeringmed.NetProjekt.Models.WorkoutModel>

@{
    ViewData["Title"] = "Index";
}

<div class="flex">
    <h1>Workouts</h1>
    <div class="mt-2">
        <a class="createBtn " asp-action="Create">Create New</a>
    </div>
</div>
<hr>
<!-- HTML-kod för modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Mark session as completed</h2>
        <form id="lengthForm" asp-action="MarkCompletedWithLength">
            <input type="hidden" id="workoutId" name="workoutId" />
            <div class="form-group">
                <label for="length">Lenght of session (minutes)</label>
                <input type="number" class="form-control" id="length" name="length" />
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <div class="Minmax">
                    <span>Min</span>
                    <span>Max</span>
                </div>
                <input type="range" min="1" max="5" value="3" class="slider" id="rating" name="rating" />

            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </div>
            <button type="submit" class="createBtn">Mark as completed</button>
        </form>
    </div>
</div>


<!-- Tabell för kommande pass -->
<h2 class="mt-4">Comming sessions</h2>
@if (Model.Any(m => !m.Completed))
{
    <table class="table">
    <thead>
        <tr>
            <!-- Tabellhuvud -->
            <th>Date for session</th>
            <th>Type of training</th>
            <th class="deletedetails">Mark as completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(m => m.Date).Where(m => !m.Completed && m.Username == User.Identity.Name))
            {
                <tr>
                    <!-- Hela tabellraden är nu en länk -->
                    <!-- Tabellceller -->
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExerciseForm.ExerciseForm)</td>
                    <td class="deletedetails">
                        <a asp-action="Details" asp-route-id="@item.Id" class="detailsBtn">Details</a>
                        <img src="/Images/check.png" class="mark-completed-btn" data-id="@item.Id" alt="">
                    </td>
                    <!-- Visa BodyPartId endast när ExerciseForm är "Gym" -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No upcoming sessions</p>
}

<!-- Tabell för slutförda pass -->
<h2 class="mt-5">Completed sessions</h2>
<table class="table">
    <thead>
        <tr>
            <!-- Tabellhuvud -->
            <th>Date for session</th>
            <th>Type of training</th>
            <th class="deletedetails">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(m => m.Date).Where(m => m.Completed && m.Username == User.Identity.Name))
        {
            <!-- Tabellrader -->
            <tr>
                <!-- Tabellceller -->
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.ExerciseForm.ExerciseForm)</td>
                <td class="deletedetails">
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- JavaScript för att hantera popuprutan -->
@section Scripts {
    <script>
        // Hämta modal-elementet
        var modal = document.getElementById("myModal");

        // Hämta knappen som öppnar modalen
        var btn = document.getElementsByClassName("mark-completed-btn");

        // Hämta span-elementet som stänger modalen
        var span = document.getElementsByClassName("close")[0];

        // När användaren klickar på knappen, öppna modalen
        for (var i = 0; i < btn.length; i++) {
            btn[i].onclick = function () {
                var workoutId = this.getAttribute("data-id");
                document.getElementById("workoutId").value = workoutId;
                modal.style.display = "block";
            }
        }

        // När användaren klickar på <span> (x), stäng modalen
        span.onclick = function () {
            modal.style.display = "none";
        }

        // När användaren klickar utanför modalen, stäng den
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}
