@model IEnumerable<programmeringmed.NetProjekt.Models.ConditionFormModel>

@{
    ViewData["Title"] = "Index";
}

<div class="flex">
    <h1>Condition Form</h1>
    <div class="mt-2">
        <a class="createBtn " asp-action="Create">Create New</a>
    </div>

</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConditionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
