@model IEnumerable<programmeringmed.NetProjekt.Models.ExerciseModel>

@{
    ViewData["Title"] = "Index";
}

<div class="flex">
    <h1>Exercises</h1>
    <div>
        <a class="createBtn" asp-action="Create">Create New</a>
    </div>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
               Exercise Name
            </th>
            <th>
                Body Part
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExerciseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyPart.BodyPart)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
